.gap-1rem{
    gap: 1rem;
}
.gap-2rem{
    gap: 2rem;
}
.g-bg-blue{
    background-color: var(--blue);
}
.g-bg-light-blue{
    background-color: var(--light-blue);
}
.g-bg-white{
    background-color: #fff;
}
.g-bg-orange{
    background-color: var(--orange);
}
.g-bg-light-orange{
    background-color: var(--light-orange);
}
.g-bg-stars{
    background-color: var(--stars);
}
.g-color-blue{
    color: var(--blue);
}
.g-color-orange{
    color: var(--orange);
}
.g-color-stars{
    color: var(--stars);
}
.g-color-black{
    color: var(--black) !important;
}
.g-color-white{
    color: #fff;
}
.g-color-gray{
    color: var(--gray);
}
.fz-0875rem{
    font-size: 0.875rem;
    line-height: 1.2rem;
}
.fz-110rem{
    font-size: 1.1rem;
    line-height: 1.4rem;
}
.fz-125rem{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.fz-150rem{
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.fz-175rem{
    font-size: 1.75rem;
    line-height: 2rem;
}
.fz-200rem{
    font-size: 2rem;
    line-height: 2.4rem;
}
.fz-250rem{
    font-size: 2.5rem;
    line-height: 2.7rem;
}
.fz-300rem{
    font-size: 3rem;
    line-height: 3rem;
}
.brs-1rem{
    border-radius: 1rem;
}
.brs-2rem{
    border-radius: 2rem;
}
.brs-3rem{
    border-radius: 3rem;
}
.bd-1px-blue{
    border: 1px solid var(--blue);
}
.g-ff-peace{
    font-family: 'Peace Sans', sans-serif;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-700{
    font-weight: 700;
}
.g-nowrap{
    white-space: nowrap;
}
.g-uppercase{
    text-transform: uppercase;
}
.g-td-n{
    text-decoration: none;
}
.fit-cover{
    object-fit: cover;
}
.g-link{
    text-decoration: underline;
}
.g-link:hover{
    text-decoration: none;
}
.g-hover-opacity{
    transition: opacity linear .3s;
}
.g-hover-opacity:hover{
    opacity: .8;
}
.g-cursor-grab{
    cursor: grab;
}

.g-btn{
    padding: 0.625rem 1.5rem .5rem 1.5rem;
    border-radius: 0.7rem;
    font-size: 0.75rem;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    transition: opacity linear .3s;
}
.g-btn-orange:hover{
    opacity: .9;
}
@media (max-width: 576px) {
    .g-btn{
        padding: 0.625rem 1.3rem .5rem 1.3rem;
        font-size: 0.625rem;
    }
}
.g-btn--big{
    padding: .75rem 5rem;
    font-size: 1.5rem;
    text-transform: unset;
    border: 3px dashed #fff;
    box-shadow: 0 0 0 10px var(--orange);
}
@media (max-width: 767px) {
    .g-btn--big{
        width: 100%;
        max-width: 100%;
        padding: .75rem 0;
        font-size: 1.25rem;
    }
}
.g-btn-orange{
    color: #fff;
    background-color: var(--orange);
}
.g-btn-orange:hover{
    color: #fff;
}
.g-btn-blue{
    color: #fff;
    background-color: var(--blue);
}
.g-btn-blue:hover{
    color: #fff;
}