:root {
  --font-size: 16px;
  --line-height: 1.625;
  --font-family: 'Montserrat', sans-serif;

  --container: 1140px;
  --gutter: 1.25rem;

  --orange: rgb(255, 130, 0); /* #ff8200 */
  --light-orange: rgb(255, 245, 225); /* #fff5e0 */
  --blue: rgb(0, 100, 175); /* #0066af */
  --stars: rgb(255, 200, 100); /* #ffc961 */
  --light-blue: rgb(240, 250, 255); /* #f1f8fc */
  --black: rgb(50, 50, 50);/* #303032 */
  --gray: rgb(170, 170, 170); /* #aaa */

  --radius: .5rem;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: 400;
  color: var(--black);
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}
