:root {
  --font-size: 16px;
  --line-height: 1.625;
  --font-family: 'Montserrat', sans-serif;

  --container: 1140px;
  --gutter: 1.25rem;

  --orange: rgb(255, 130, 0); /* #ff8200 */
  --blue: rgb(0, 100, 175); /* #0066af */
  --light-blue: rgb(240, 250, 255); /* #f1f8fc */

  --radius: .5rem;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height);
  background-color: var(--body-bg);
  color: var(--body-color);
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}
