@import url('./imports/vars.css');

@import url('../vendor/global-reset/global-reset.css');
@import url('../vendor/bootstrap/bootstrap.css');

@import url('./imports/fonts.css');
@import url('./imports/globals.css');
@import url('./imports/media.css');

main{
    min-height: 706px;
}

.head-logo span{
    font-size: 1.875rem;
}
@media (max-width : 576px) {
    .head-logo span{
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .nav {
        max-height: 0;
    }
}
.menu a {
    color: #fff;
    font-size: 1.25rem;
}
@media (max-width : 1200px) {
    .menu a{
        font-size: 1rem;
    }
}
@media (max-width : 768px) {
    .menu a{
        font-size: 1.25rem;
    }
}

.hamb {
    cursor: pointer;
    padding: 2rem 1.25rem;
}
.hamb-line {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    width: 1.5rem;
}
.hamb-line::before,
.hamb-line::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: .5rem;
}
.hamb-line::after {
    top: -.5rem;
}

.side-menu:checked~nav {
    max-height: 100%;
}

.footer-bottom{
    margin-top: 5rem; 
    border-top: 2px solid var(--blue);
}


.ddd1{
    height: 7rem; 
    bottom: 3rem;
}
@media (max-width : 768px) {
    .ddd1{
        height: unset; 
        bottom: 2rem;
    }
}
.ddd2{
    height: 4rem;
    bottom: 2rem;
}
.ddd3{
    height: 2rem;
    top: 2rem;
}

/* .review-item{
    width: 300px;
    min-width: 300px;
} */